@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Special+Elite&display=swap');

html, body 
{
    color:#fff;
    background-color:#000;
    font-family: 'Alegreya', serif;
    line-height:140%;
}

a:link {
    color:#00ffff; 
    text-decoration:none; 
    font-weight:bold;
}

a:visited {
    color:#00ffff; 
    text-decoration:none;
}

a:hover {
    color:#000; 
    background-color:#00ffff;
}

h2 {
    color:#fff;
    font-family: 'Special Elite', cursive;
    font-size:50px;
}


li {
    margin: 4px 0;
}

#content {
    max-width:800px;
    margin:20px auto; 
    padding:20px;
}

